*{
    margin: 0;
    padding: 0;
}

.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "a b"
    "c d "
}

.a{
    grid-area: a;
    background: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b{
    grid-area: b;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.c{
    grid-area: c;
    background: rgb(83, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.grid{
    grid-area: c;
    background: rgb(83, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}